body{
    margin: 0px;
    padding: 0px;
    border:0px solid #F00;
    overflow: auto;
    text-align: center;
}
a{
	color:#666;
}
a:HOVER{
	color:#666;
	text-decoration: none;
}
#page-all{
	text-align: left;
	width: 1310px;
	margin: 0px auto;
    padding: 0px;
    border: 0px solid #F00;
    overflow: hidden;
}

#top{
	width: 100%;
	height: 33px;
	border: 0px solid #F00;
    background: url("../img/1.jpg") repeat-x;
}

#top_left{
	width: 48%;
	float: left;
	padding-left: 20px;
	border: 0px solid #0F0;
}

#top_left ul li{
	height: 18px;
	margin: 10px 8px;
	float: left;
	cursor: pointer;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

#top_rig{
	width: 48%;
	float: right;
	padding-right: 20px;
	border: 0px solid #0F0;
}

#top_rig ul li{
	height: 18px;
	margin: 8px 3px;
	float: right;
	cursor: pointer;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

#menu{
	width: 100%;
	height: 80px;
	background: url("../img/3.png") no-repeat;
}

#menu_list{
	margin-left: 600px;
	border:0px solid #F00;
	position:relative;
	width: 710px;
}

#menu_list ul li{
	float: left;
	width: 130px;
	height: 80px;
	cursor: pointer;
}
li.home{
	background: url("../img/2.jpg") no-repeat;
}
li.home label{
	display: block;
	border: 0px solid #000;
	padding-left: 35px;
	padding-top: 11px;
	margin: 20px 30px;
	width: 100%;
	height: 19px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background: url("../img/b1.png") no-repeat;
}

li.good-scan label{
	display: block;
	padding-left: 35px;
	padding-top: 11px;
	margin: 20px 15px;
	width: 100%;
	height: 19px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	background: url("../img/b2-1.png") no-repeat;
}

li.my-cart label{
	display: block;
	padding-left: 35px;
	padding-top: 11px;
	margin: 20px 10px;
	width: 100%;
	height: 19px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	background: url("../img/b3-1.png") no-repeat;
}

li.my-order label{
	display: block;
	padding-left: 35px;
	padding-top: 11px;
	margin: 20px 15px;
	width: 100%;
	height: 19px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	background: url("../img/b4-1.png") no-repeat;
}

#main{
	width: 100%;
}
#mpage{
	width: 100%;
	border: none;
}
#footer{
	width: 100%;
}
#fpage{
	width: 100%;
	border: none;
}